body{
    background-color: black;
    color: white;
    text-align: left;
}
h1{
    margin-top: 50px;
    font-size: 72px;
    text-align: center;
}
h2{
    font-size: 36px;
    margin-left: 25%;
    margin-right: 25%;
}
pre{
    margin-left:30%;
}
a{
    color: white;
}
.link{
    margin-top: 36px;
    text-align: center;
    font-size: 36px;
}
.flag{
    margin-top: 36px;
    text-align: center;
    font-size: 24px;
}
.exe{
    color: black;
}
